*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: fit-content;
    background-color: #EEEEEE;
    border-radius: 16px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.52);
    position: absolute;
}
            /* HEADER */
header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 5vw;
    box-sizing: border-box;

}
.burgerButton{
    height: 60%;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
[class*="line"]{
    width: 24px;
    height: 4px;
    background-color: #999999;
    border-radius: 3px;
}
            /* HEADER */
            /* MAIN */
main{
    width: 100%;
}
.heroBox{
    display: flex;
    flex-direction: column;
    padding: 2vh 5vw;
    padding-right: 28vw;
    overflow: hidden;
    position: relative;
}
.pink{
    color: rgba(255, 57, 152, 1);
    font-size: .9em;
    font-weight: 800;
    margin-top: 10vh;
    margin-bottom: 4vh;
}
#SingUp>.bold{
    font-weight: 600;
}
        /* Sign UP Button */
.wrap{
    width: 192px;
    height: 79px;
    margin: 5px;
    border-radius: 50px;
    background-image: linear-gradient(to right, red,orange, rgb(231, 172, 45));
    display: flex;
    align-items: center;
    justify-content: center;
}
#SingUp{
    width: 184px;
    height: 71px;
    border-radius: 50px;
    border: transparent;
    font-size: 1.4em;
}
        /* Sign UP Button */
.heroBox>img{
    width: 50vh;
    left: 51vw;
    position: absolute;
    /* overflow: hidden; */
}
.heroBox>p,.textBox>p{
    opacity: .8;
    padding-bottom: 3vh;
    font-size: 1.3rem;
    line-height: 1.5em;
}
.heroBox>h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 4vh;
}
        /* Upsell BOX */
.upsellBox{
    width: 100%;
    height: 40vh;
    margin-top: 7vh;
    box-sizing: border-box;
    background-image: url("/assets/background.svg");
    background-position: 85%;
    padding: 17vh 5vw 0 5vw;
}
.upsellBox>h1,.textBox>h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1.5vh;
}
.upsellBox>p{
    font-size: 1.2rem;
}
        /* Upsell BOX */
        /* companyLogos */
.companyLogos{
    margin-top: 5vh;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5vw;
    row-gap: 3vh;
}
.cut{
    width: 138px;
    height: 42px;
    display: block;
    background: url("/assets/companies/boomerang.svg");
}
        /* companyLogos */
        /* showcase */
.showcase{
    margin-top: 5vh;
}
.textBox{
    margin: 0 5vw 2vh 5vw;
}
.Hscroll{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
[class^="card"]{
    width: 290px; 
    height: 400px;
    border-radius: 16px;
    margin: 6vw;
    background-image: url("/assets/ntfs/PurpleCircle.svg");
    display: flex;
    flex-direction: row;
    align-items: end;
}
[class^="card"] h2{
    font-weight: 500;
    font-size: 1.4rem;
}
.cardTwo{
    background-image: url("/assets/ntfs/Blond.svg");
}
.cardThree{
    background-image: url("/assets/ntfs/RedCircle.svg");
}
.cardFour{
    background-image: url("/assets/ntfs/GreenWoman.svg");
}
[class^="Info"]{
    height: 28%;
    width: max-content;
    max-width: 150px;
    background: #dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 15px;
}
[class^="Info"] p{
    opacity: .6;
}
.InfoL{
    border-bottom-left-radius: 16px;
    text-align: start;
    padding-right: 0;
}
.InfoR{
    border-bottom-right-radius: 16px;
    text-align: end;
}
.InfoR p:nth-of-type(1){
    font-size: .7rem;
}
.orange{
    color: rgb(255, 145, 0);
    font-size: .7rem;
}
.price{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
        /* showcase */
            /* MAIN */
